---
apiVersion: v1
kind: Secret
metadata:
  name: {{ certmanager_acme_dns_secret_name }}
  namespace: {{ k8s_namespace }}
type: Opaque
stringData:
  {{ certmanager_acme_dns_token_name }}: {{ certmanager_acme_dns_token_key }}
