---
global:
  logLevel: {{ certmanager_log_level }}
  leaderElection:
    namespace: {{ certmanager_namespace }}
crds:
  enable: true
namespaces: {{ certmanager_namespace }}
replicaCount: {{ certmanager_replicas }}
deploymentAnnotations: {{ certmanager_deploy_annotations if certmanager_deploy_annotations | length > 0 else {} }}
podAnnotations: {{ certmanager_deploy_annotations if certmanager_deploy_annotations | length > 0 else {} }}
podLabels: {{ certmanager_pod_labels if certmanager_pod_labels | length > 0 else {} }}
serviceAnnotations: {{ certmanager_service_annotations if certmanager_service_annotations | length > 0 else {} }}
serviceLabels: {{ certmanager_service_labels if certmanager_service_labels | length > 0 else {} }}
